<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<table border="2">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>조회수</th>
        <th>수정일</th>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>조회수</th>
        <th>수정일</th>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
    </tr>
    <% rows.forEach((item, idx) => { %>
        <tr>
            <td><%=idx%></td>
            <td>제목</td>
            <td>글쓴이</td>
            <td>조회수</td>
            <td>수정일</td>
            <td>번호</td>
            <td>제목</td>
            <td>글쓴이</td>
            <td>조회수</td>
            <td>수정일</td>
            <td>번호</td>
            <td>제목</td>
            <td>글쓴이</td>
        </tr>
    <%});%>
</table>
</body>
</html>